body{
    font-family: cursive;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background: #282727;
    padding: 132px 10px;
    font-size: 3rem;
    box-shadow: 0px 2px 5px black;
    margin-bottom: 5px;
}

.right-nav-link {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    padding: 5px;
    margin: 5px;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    color: white;
}